/* fye.css */
body {
    margin: 0;
    padding: 0;
    background-color: #282828;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #gameCanvas {
    border: 2px solid #f0f0f0;
    background-color: #222;
  }
  
  #hud {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #f0f0f0;
    font-size: 18px;
  }
  
  #actionButtons {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #f0f0f0;
  }
  
  button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
  }
  